<div class="ui stackable equal width center aligned padded grid">
  <div class="column hero">
    <h1 class="title">Bienvenidos a</h1>
  </div>
  <div class="column">
    <h1>Crear cuenta</h1>
    <h4>Registrarse es facil y rapido</h4>
    <%= render 'form' %>
  </div>
</div>